body{
background-color: #5346E8;
}

.paragraph {
display:inline-block;
}

.container {
background-color: #5346E8;
display:inline-block;
}


h1 {
background-color: #ffcd1a;
border-radius: 20px;
display:inline-block;
vertical-align: middle;
padding: 40px;
font-size:90px;
text-align: center;
margin-top: 0px;
position: absolute;
top: -6%;
right: 50%;
transform: translate(50%, 50%);
}


.p1 {
background-color: #ffcd1a;
border-radius: 20px;
display:inline-block;
vertical-align: middle;
font-size:45px;
text-align: center;
margin-top: 0px;
padding: 50px;
position: absolute;
top: 24%;
right: 50%;
transform: translate(50%, 50%);
}

.butst{
background-color: #ffcd1a;
border-radius: 20px;
display:inline-block;
vertical-align: middle;
margin-top: 0px;
font-size:70px;
padding: 40px;
text-align: center;
position: absolute;
top: 60%;
right: 50%;
transform: translate(50%, 50%);
}

.butset{
background-color: #ffcd1a;
border-radius: 20px;
text-align: right;
display:inline-block;
vertical-align: middle;
position: absolute;
font-size:40px;
top: 80%;
right: 15%;
font-size:50px;
transform: translate(50%, 50%);
}


@media (orientation: portrait) and (max-width: 450px) {
    .question {
        font-size: 50px; 
    }
    .ans-row {
        width: 380px;
    }
}
